@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 48 100% 96%;
    --foreground: 0 0% 0%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 48 100% 96%;
    --popover-foreground: 0 0% 0%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
 
    --border: 0 0% 0%;
    --input: 0 0% 0%;
 
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 48 100% 96%;
    --secondary-foreground: 0 0% 0%;
 
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 217.9 10.6% 64.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;
 
    --muted: 0 0% 4%;
    --muted-foreground: 0 0% 100%;
 
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;
 
    --card: 240 6% 10%;
    --card-foreground: 0 0% 100%;
 
    --border: 0 0% 100%;
    --input: 0 0% 100%;
 
    --primary: 38 92% 50%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 4%;
    --secondary-foreground: 0 0% 100%;
 
    --accent: 240 6% 10%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 0 0% 100%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}